# Version control
.git
.gitignore

# Development artifacts
*.log
*.swp
.env
.env.*

# Build artifacts
bin/
tmp/
vendor/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE specific files
.idea/
.vscode/

# Documentation
README.md
docs/

# Test files
*_test.go